@if (control?.errors && control?.touched && !control?.getError('mismatch')) {
<div>
    <ul class=" mt-2">
        @if (control?.getError('required')) {
        <li class=" text-red700 pl-3">
            <span class="font-medium">Input is required.</span>
        </li>
        }
        @if (control?.getError('minlength')) {
        <li class=" text-red700 pl-3">
            <span>Input must be at least {{control?.getError('minlength')?.requiredLength}} characters long.</span>
            <p>You entered <span class="text-main">{{control?.getError('minlength')?.actualLength}}</span> character</p>
        </li>
        }
        @if (control?.getError('maxlength')) {
        <li class=" text-red700 pl-3">
            <span>Input must not exceed 20 characters.</span>
        </li>
        }
        @if(control?.getError('email')){
        <li class=" text-red700 pl-3">
            <span>Email not valid.</span>
        </li>
        }
        @if (control?.getError('pattern') && passState) {
        <li class=" text-red700 pl-3 ">
            <span class="text-000">Password must be </span>
            <p [class.text-main]="control?.value.length>=8">at least 8
                characters long.</p>
            <p [class.text-main]="hasUppercase">an uppercase letter.</p>
            <p [class.text-main]="hasLowercase">a lowercase letter.</p>
            <p [class.text-main]="hasNumber">a number.</p>
            <p [class.text-main]="hasSpecialCharacter">a special character.</p>

        </li>
        }
    </ul>
</div>
}

@if (control?.getError('mismatch') && control?.get('rePassword')?.touched) {
<div class="text-red700">
    <ul class="pl-5 mt-2">
        <li>Password not match.</li>
    </ul>
</div>
}