<app-stepper [step]="step"></app-stepper>

<div class="max-w-md md:max-w-lg mx-auto mt-10 p-6 border border-gray200 rounded-2xl shadow-lg bg-fff">
    <div class="text-center mb-6">
        <h1 class="text-3xl font-bold text-main">Reset password</h1>
        @if (step === 2) {
        <p class="text-gray700/80 font-sans mt-2">Reset code sent to your email</p>
        }
    </div>

    @if (step === 1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="formStepOne()">
        <div class="mb-5">
            <label for="email" class="block text-sm font-semibold text-gray700 mb-2">Email</label>

            @let emailControl = verifyEmail.get('email')?.touched && verifyEmail.get('email')?.errors;
            <input formControlName="email" [class]="{ 
                'bg-red100': emailControl,
                'border-red500': emailControl,
                }" type="email" id="email" class="w-full px-4 py-3 border border-gray300 rounded-lg shadow-sm 
               focus:outline-none  focus:ring-2 focus:ring-main 
               transition duration-300 placeholder-gray500" placeholder="gamal@gmail.com">

            <app-form-error-messages [control]="verifyEmail.get('email')"></app-form-error-messages>
        </div>

        <button [ngClass]="{
        'bg-main hover:bg-main/80': !isLoading,
        'cursor-pointer': !isLoading,
        'bg-disabled': isLoading,
        'cursor-not-allowed': isLoading
      }" [disabled]="isLoading"
            class="text-white font-semibold rounded-lg px-4 py-3 w-full flex items-center justify-center transition duration-300 shadow-md">

            @if (!isLoading) {
            Verify Email
            } @else {
            <div class="w-5 h-5 border-2 border-fff border-t-transparent rounded-full animate-spin mr-3"></div>
            <span>Verifying...</span>
            }
        </button>

        @if (errorMsg) {
        <div class="bg-red100 my-3 py-3 px-4 rounded-lg text-red500 text-sm border border-red500 text-center">
            <span>{{errorMsg}}</span>
        </div>
        }
    </form>
    }

    @if (step === 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="formStepTwo()">
        <div class="mb-5">
            <label for="resetCode" class="block text-sm font-semibold text-gray700 mb-2">Reset code</label>

            @let resetCodeControl = verifyCode.get('resetCode')?.touched && verifyCode.get('resetCode')?.errors;
            <input formControlName="resetCode" [class]="{ 
                'bg-red100': resetCodeControl,
                'border-red500': resetCodeControl,
                }" type="text" id="resetCode" class="w-full px-4 py-3 border border-gray300 rounded-lg shadow-sm 
               focus:outline-none  focus:ring-2 focus:ring-main 
               transition duration-300">

            <app-form-error-messages [control]="verifyCode.get('resetCode')"></app-form-error-messages>
        </div>

        <button [ngClass]="{
        'bg-main hover:bg-main/80': !isLoading,
        'cursor-pointer': !isLoading,
        'bg-disabled': isLoading,
        'cursor-not-allowed': isLoading
      }" [disabled]="isLoading"
            class="text-white font-semibold rounded-lg px-4 py-3 w-full flex items-center justify-center transition duration-300 shadow-md">

            @if (!isLoading) {
            Verify code
            } @else {
            <div class="w-5 h-5 border-2 border-fff border-t-transparent rounded-full animate-spin mr-3"></div>
            <span>Verifying...</span>
            }
        </button>

        @if (errorMsg) {
        <div class="bg-red100 my-3 py-3 px-4 rounded-lg text-red500 text-sm border border-red500 text-center">
            <span>{{errorMsg}}</span>
        </div>
        }
    </form>
    }

    @if (step === 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="formStepThree()">
        <div class="mb-5">
            <label for="email2" class="block text-sm font-semibold text-gray700 mb-2">Email</label>

            @let emailControlResetPass = resetPassword.get('email')?.touched && resetPassword.get('email')?.errors;
            <input formControlName="email" [class]="{ 
                'bg-red100': emailControlResetPass,
                'border-red500': emailControlResetPass,
                }" type="email" id="email2" class="w-full px-4 py-3 border border-gray300 rounded-lg shadow-sm 
               focus:outline-none  focus:ring-2 focus:ring-main 
               transition duration-300 placeholder-gray500" placeholder="gamal@gmail.com" readonly>

            <app-form-error-messages [control]="resetPassword.get('email')"></app-form-error-messages>
        </div>

        <div class="mb-5">
            <label for="newPassword" class="block text-sm font-semibold text-gray700 mb-2">New password</label>

            @let newPasswordControl = resetPassword.get('newPassword')?.touched &&
            resetPassword.get('newPassword')?.errors;
            <input formControlName="newPassword" [class]="{ 
                'bg-red100': newPasswordControl,
                'border-red500': newPasswordControl,
                }" type="text" id="newPassword" class="w-full px-4 py-3 border border-gray300 rounded-lg shadow-sm 
               focus:outline-none  focus:ring-2 focus:ring-main 
               transition duration-300 placeholder-gray500" placeholder="••••••••">

            <app-form-error-messages [control]="resetPassword.get('newPassword')"></app-form-error-messages>
        </div>

        <button [ngClass]="{
        'bg-main hover:bg-main/80': !isLoading,
        'cursor-pointer': !isLoading,
        'bg-disabled': isLoading,
        'cursor-not-allowed': isLoading
      }" [disabled]="isLoading"
            class="text-white font-semibold rounded-lg px-4 py-3 w-full flex items-center justify-center transition duration-300 shadow-md">

            @if (!isLoading) {
            Reset Password
            } @else {
            <div class="w-5 h-5 border-2 border-fff border-t-transparent rounded-full animate-spin mr-3"></div>
            <span>Verifying...</span>
            }
        </button>

        @if (errorMsg) {
        <div class="bg-red100 my-3 py-3 px-4 rounded-lg text-red500 text-sm border border-red500 text-center">
            <span>{{errorMsg}}</span>
        </div>
        }
    </form>
    }


</div>