/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');


/* You can add global styles to this file, and also import other style files */
@theme {
    --color-nav: #2ECC71;
    --color-sorange: #FF6B35;
    --color-syellow: #FFD800;
    --color-sgray: #333333;
    --color-rating: #ffc908;
    --color-light: #58D68D;
    --shadow-main: 0 0 15px rgba(0, 0, 0, 0.1);
}

body{
    font-family: 'Encode Sans Expanded', sans-serif !important;
    background-color: #F9FAFB;
}

h2 {
    font-family: "Poppins", sans-serif !important; 
}

.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
